body {
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
    

.container_Card {
    display:flex;
    align-items: center;
    flex-direction: column;
border: 1px solid;
width: 500px;
height: 800px;
transition:1s;
}
.conteiner_card:hover{
    border-radius: 10px;
    background-color:black ;
    color:white;
    transform: scale(1.1) ;
}
.container-img{
   max-width:100% ;
   /* transform: scale(0.3); */
   /* zoom:40% */
   

}
.container_info {
    padding: 0 20px 0 20px;
}
.container-btn{
    cursor:pointer;
    border:none;
    width:240px;
    height:50px;
    border-radius:30px 10px 30px 3px;
    background-color: blue;
    margin-top: 100px;
   color: white;
    transition: 1s;
}
.container-btn:hover {
    background-color: blue;
    color:aquamarine
}
.container-btn:active{
    transform:scale(0,8);
    background-color: black;
    color: white;
}